/* Chips.css */

/* Style for the "EAT! EAT!" button */

button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  /* Style for the "BAGS EATEN" count */
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style for the container div */
  .image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Style for the Doritos chip bag images */
  .image-container img {
    position: absolute;
    max-width: 100px;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out;
  }
  
  .content-container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 20px;
    padding: 15px;
    max-width: 300px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 300px;  
    height: 200px; 
    margin: 0 auto; 
  }

